@import "tailwindcss";

@theme {
  --color-custom_grey: #59636E;
  --color-custom_light_grey: #D1D9E0B3;
  --color-custom_black: #1F2328;
  --color-custom_blue: #0969DA;
  --color-navbar_background: #F6F8FA;
  --color-hover_grey: #818B981A;
  --color-custom_orange: #FD8C73;
  --color-custom_border_grey: #D1D9E0;
  --color-button_hover: #EFF2F5;

  /* --font-gilroy: 'Gilroy', sans-serif;
  --font-playfair: 'Playfair Display', serif; */
}

@layer components {
  .btn {
    @apply hover:bg-hover_grey rounded-lg cursor-pointer 
  }
}